@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .hide-desktop {
    display: none !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #FCFBEC;
}

h1 {
  font-size: 65px;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h2 {
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p, li, a {
  font-size: 16px;
  color: #FCFBEC;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
    line-height: 50px;
  }
  h2 {
    font-size: 35px;
    line-height: 35px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  p, li, a {
    font-size: 14px;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "din-2014", sans-serif;
  background-color: #32293C;
  width: 100vw;
  overflow-x: hidden;
}

.home .footer {
  background-color: #E73954;
}

.footer {
  background-color: #32293C;
  padding: 5% 15%;
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.footer .mail-list {
  background-color: #FCFBEC;
  height: 50px;
  width: auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .mail-list p {
  color: #32293C;
  text-transform: uppercase;
  font-weight: 600;
}

.footer .mail-list p a {
  color: #E73954;
}

@media screen and (max-width: 1040px) {
  .footer {
    padding: 10%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.header {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  z-index: 100;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.2));
  position: fixed;
  top: 0;
  left: 0;
}

.header__logo {
  height: auto;
  width: 200px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__list li:not(:last-of-type) {
  margin-right: 20px;
}

.header__list li a {
  color: #FCFBEC;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .2px;
  font-size: 14px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__list li a:hover {
  color: #E73954;
}

@media screen and (max-width: 768px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.video-player {
  width: 80vw;
  border: 5px solid #FCFBEC !important;
  border-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  .video-player {
    width: 100vw;
  }
}

/* Controls background */
.vjs-fullscreen .vjs-has-started .vjs-control-bar, .vjs-fullscreen .vjs-audio-only-mode .vjs-control-bar, .vjs-fullscreen.video-js .vjs-control-bar {
  position: absolute !important;
}

.vjs-has-started .vjs-control-bar, .vjs-audio-only-mode .vjs-control-bar, .video-js .vjs-control-bar {
  background-color: #FCFBEC !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-shadow: -5px 0px 0px 0px #FCFBEC, 5px 0px 0px 0px #FCFBEC !important;
          box-shadow: -5px 0px 0px 0px #FCFBEC, 5px 0px 0px 0px #FCFBEC !important;
  position: initial !important;
}

/* Initial play button */
.video-js .vjs-big-play-button {
  left: 50% !important;
  top: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  background: none !important;
  border: none !important;
}

.video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus {
  background: none !important;
}

.vjs-icon-placeholder {
  color: #32293C !important;
}

/* Duration Slider */
.video-js .vjs-slider {
  background-color: #32293C !important;
}

.video-js .vjs-load-progress div {
  background: #7a6295 !important;
}

.vjs-play-progress.vjs-slider-bar {
  color: #E73954 !important;
}

.video-js .vjs-play-progress {
  background-color: #E73954 !important;
}

/* Audio Slider */
.vjs-volume-bar.vjs-slider-bar.vjs-slider.vjs-slider-horizontal {
  color: #32293C !important;
}

.video-js .vjs-volume-level {
  background-color: #E73954 !important;
}

.video-js .vjs-control:focus:before, .video-js .vjs-control:hover:before, .video-js .vjs-control:focus {
  text-shadow: none !important;
}

/* Duration Timer */
.vjs-current-time.vjs-time-control.vjs-control, .vjs-time-control.vjs-time-divider, .vjs-duration.vjs-time-control.vjs-control {
  color: #32293C !important;
}

.video-js .vjs-current-time {
  display: block !important;
  font-family: "din-2014", sans-serif !important;
  font-weight: 600 !important;
  padding: 0 !important;
}

.video-js .vjs-time-divider {
  display: block !important;
  font-family: "din-2014", sans-serif !important;
  font-weight: 600 !important;
  padding: 0 !important;
  min-width: 0 !important;
  margin: 0 3px !important;
}

.video-js .vjs-duration {
  display: block !important;
  font-family: "din-2014", sans-serif !important;
  font-weight: 600 !important;
  padding: 0 !important;
}

.video-js .vjs-remaining-time {
  display: none !important;
}

/* .video-js .vjs-volume-bar { display: none; } */
/* .video-js .vjs-progress-control { display: none; } */
.hero {
  position: relative;
}

.hero__volume {
  position: -webkit-sticky;
  position: sticky;
  left: 10px;
  top: calc(100vh - 50px);
  margin-bottom: 10px;
  height: 40px;
  width: 40px;
  padding: 5px;
  z-index: 100;
  cursor: pointer;
  background-color: #FCFBEC;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.hero__volume:active {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.hero__volume img {
  height: 75%;
}

.hero video {
  width: 100vw;
  height: auto;
}

.hero__mobile {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__mobile h1 {
  text-transform: uppercase;
  color: #FCFBEC;
  font-size: 40px;
  opacity: 0;
}

@media screen and (min-width: 769px) {
  .hero {
    top: -50px;
  }
}

.hp-work {
  padding: 10% 15%;
}

.hp-work__grid {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

.hp-work__grid img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .hp-work {
    padding: 10%;
  }
  .hp-work__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 0;
  }
}

.hp-about {
  background-color: #E73954;
  padding: 5% 15%;
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
}

.hp-about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hp-about img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1040px) {
  .hp-about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 10%;
  }
}

.hp-favourites {
  padding: 5% 15%;
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.hp-favourites__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hp-favourites img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1040px) {
  .hp-favourites {
    padding: 10%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .hp-favourites__text {
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .hp-favourites img {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
}

.single-hero {
  background-color: #32293C;
  padding: 10% 15% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .single-hero {
    padding: 15% 0 0;
  }
}

.single-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 10% 15%;
}

.single-content .single-slider {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.single-content .single-slider .single-slide {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  padding: 10px;
}

.single-content .single-slider .single-slide.slide-grid-4 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.single-content .single-slider .single-slide.slide-grid-1 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.single-content .single-slider .single-slide img {
  width: 100%;
  height: auto;
}

.single-content .slick-arrow {
  height: 30px;
  width: 30px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  top: calc(100% + 10px);
  cursor: pointer;
  stroke: #32293C;
  -webkit-transition: stroke .3s ease;
  transition: stroke .3s ease;
  background-color: #FCFBEC;
}

.single-content .slick-arrow:hover {
  stroke: #E73954;
}

.single-content .slick-next {
  left: 50px;
}

.single-content .slick-prev {
  left: 10px;
}

.single-content__text p {
  margin-bottom: 10px;
}

.single-content__bottom-link {
  color: #E73954;
}

@media screen and (max-width: 1100px) {
  .single-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15% 10% 20%;
  }
  .single-content .single-slider {
    width: 100%;
  }
}

.single-other-posts {
  background-color: #E73954;
  padding: 10% 15%;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.single-other-posts a img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .single-other-posts {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 10%;
  }
  .single-other-posts a:not(:first-of-type) {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */