.single-hero {
    background-color: $purple;
    padding: 10% 15% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .single-hero {
        padding: 15% 0 0;
    }
}

.single-content {
    display: flex;
    gap: 30px;
    padding: 10% 15%;

    & .single-slider {
        width: 60%;
        height: fit-content;
        // display: flex;

        & .single-slide {
            display: grid;
            gap: 10px;
            padding: 10px;
            
            &.slide-grid-4 {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }

            &.slide-grid-1 {         
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
            }

            & img {
                width: 100%;
                height: auto;
            }
        }
    }

    .slick {
        &-arrow {
            height: 30px;
            width: 30px;
            padding: 5px;
            // width: auto;
            position: absolute;
            z-index: 10;
            top: calc(100% + 10px);
            // top: 50%;
            // transform: translate(-50%, -50%);
            cursor: pointer;
            // stroke:#fdfdfd50;
            stroke: $purple;
            transition: stroke .3s ease;
            background-color: $cream;
    
            &:hover {
                stroke: $red;
                // stroke: #fdfdfd;
            }
        }
    
        &-next {
            // right: 5%;
            left: 50px;
        }
    
        &-prev {
            // left: 5%;
            left: 10px;
        }
    }

    &__text {
        & p {
            margin-bottom: 10px;
        }
    }

    &__bottom-link {
        color: $red;
    }
}

@media screen and (max-width: 1100px) {
    .single-content {
        flex-direction: column;
        padding: 15% 10% 20%;

        & .single-slider {
            width: 100%;
        }
    }
}

// OTHER POSTS
.single-other-posts {
    background-color: $red;
    padding: 10% 15%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);

    & a img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .single-other-posts {
        grid-template-columns: 1fr;
        padding: 10%;

        & a:not(:first-of-type){
            display: none;
        }
    }
}