@media screen and (max-width: 768px){
    .hide-mobile {
        display: none !important;
    }
}

@media screen and (min-width: 769px){
    .hide-desktop {
        display: none !important;
    }
}



@media screen and (max-width: 1040px){
    .hide-mobile-1040 {
        display: none !important;
    }
}

@media screen and (min-width: 1041px){
    .hide-desktop-1040 {
        display: none !important;
    }
}