// CORE
h1,h2,h3,h4,h5,h6 {
    font-weight: $fw-bold;
    color: $cream;
}

h1 {
    font-size: $h1;
    line-height: $h1;
    text-transform: uppercase;
    margin-bottom: 30px;
}
h2 {
    font-size: $h2;
    line-height: $h2;
    text-transform: uppercase;
    margin-bottom: 30px;
}
h3 {
    font-size: $h3;
}
h4 {
    font-size: $h4;
}

p, li, a {
    font-size: $p;
    color: $cream;
}

a {
    text-decoration: none;
}


// MOBILE QUERIES
@media screen and (max-width: 768px){

    h1 {
        font-size: $h1-m;
        line-height: $h1-m;
    }
    h2 {
        font-size: $h2-m;
        line-height: $h2-m;
    }
    h3 {
        font-size: $h3-m;
    }
    h4 {
        font-size: $h4-m;
    }
    p, li, a {
        font-size: $p-m;
    }

}