

$purple: #32293C;
$red: #E73954;
$cream: #FCFBEC;

$fw-bold: 600;
$fw-normal: 400;
$main-font: 'din-2014', sans-serif;

$h1: 65px;
$h2: 50px;
$h3: 24px;
$h4: 20px;
$p: 16px;

$h1-m: 50px;
$h2-m: 35px;
$h3-m: 20px;
$h4-m: 18px;
$p-m: 14px;