.home {
    .footer {
        background-color: $red;
    }
}

.footer {
    background-color: $purple;
    padding: 5% 15%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);

    .mail-list {
        background-color: $cream;
        height: 50px;
        width: auto;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        & p {
            color: $purple;
            text-transform: uppercase;
            font-weight: $fw-bold;

            & a {
                color: $red;
            }
        }
    }
}

@media screen and (max-width: 1040px){
    .footer {
        padding: 10%;
        grid-template-columns: 1fr;
    }
}