.video-player {
    width: 80vw;
    border: 5px solid $cream !important;
    border-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
    .video-player {
        width: 100vw;
    }
}

/* Controls background */
.vjs-fullscreen .vjs-has-started .vjs-control-bar, .vjs-fullscreen .vjs-audio-only-mode .vjs-control-bar, .vjs-fullscreen.video-js .vjs-control-bar {
    position: absolute !important;
}

.vjs-has-started .vjs-control-bar, .vjs-audio-only-mode .vjs-control-bar, .video-js .vjs-control-bar {
    background-color: $cream !important;
    display: flex !important;
    box-shadow: -5px 0px 0px 0px $cream, 5px 0px 0px 0px $cream !important;
    position: initial !important;
}

/* Initial play button */
.video-js .vjs-big-play-button {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    background: none !important;
    border: none !important;
}

.video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus {
    background: none !important;
}

.vjs-icon-placeholder {
    color: $purple !important;
}


/* Duration Slider */
.video-js .vjs-slider {
    background-color: $purple !important;
}

.video-js .vjs-load-progress div {
    background: #7a6295 !important;
}

.vjs-play-progress.vjs-slider-bar {
    color: $red !important;
}
.video-js .vjs-play-progress {
    background-color: $red !important;
}


/* Audio Slider */
.vjs-volume-bar.vjs-slider-bar.vjs-slider.vjs-slider-horizontal{
    color: $purple !important;
}

.video-js .vjs-volume-level {
    background-color: $red !important;
}

.video-js .vjs-control:focus:before, .video-js .vjs-control:hover:before, .video-js .vjs-control:focus {
    text-shadow: none !important;
}

/* Duration Timer */
.vjs-current-time.vjs-time-control.vjs-control, .vjs-time-control.vjs-time-divider, .vjs-duration.vjs-time-control.vjs-control {
    color: $purple !important;
}

.video-js .vjs-current-time { 
    display: block !important;
    font-family: $main-font !important;
    font-weight: $fw-bold !important;
    padding: 0 !important;
}

.video-js .vjs-time-divider { 
    display: block !important;
    font-family: $main-font !important;
    font-weight: $fw-bold !important;
    padding: 0 !important;
    min-width: 0 !important;
    margin: 0 3px !important;
}

.video-js .vjs-duration { 
    display: block !important; 
    font-family: $main-font !important;
    font-weight: $fw-bold !important;
    padding: 0 !important;
}

.video-js .vjs-remaining-time { 
    display: none !important; 
}
    
    /* .video-js .vjs-volume-bar { display: none; } */
    /* .video-js .vjs-progress-control { display: none; } */
